# Vercel KV
KV_REST_API_URL=
KV_REST_API_TOKEN=

# Public variables
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_FIRE_MODEL_PATH=/model/model.json

# Optional NASA FIRMS API for live map data
NASA_FIRMS_API_KEY= 